<main class="container">

  <div class="AjouterBtn">
    <a routerLink="/add">
      <button mat-flat-button color="accent">
        Ajouter Assignment
      </button>
    </a>
  </div>

  <h1>Liste des devoirs à rendre (assignments) :</h1>
  <p>Nombre total d'assignments : {{totalDocs}}</p>
  <p>Nombre total de pages : {{totalPages}}</p>
  <p>assignments par page : <input type="range" min=1 max=100 value=10 (change)="getAssignments()" [(ngModel)]="limit"> {{limit}}</p>
  <div class="paginationBtn">
    <button mat-raised-button color="primary" (click)="premierePage()" [disabled]="page===1">Prémière</button>&nbsp;
    <button mat-raised-button color="primary" (click)="pagePrecedente()"[disabled]=!hasPrevPage>Précédente</button>&nbsp;
    <button mat-raised-button color="primary" (click)="pageSuivante()" [disabled]=!hasNextPage>Suivante</button>&nbsp;
    <button mat-raised-button color="primary" (click)="dernierePage()" [disabled]="page===totalPages">Dernière</button>
</div>

  <mat-list *ngFor="let a of assignments">
    <nav><a routerLink="/assignment/{{a.id}}">
        <h3 mat-subheader>{{a.dateDeRendu|date}}</h3>
        <mat-list-item (click)="onAssignmentClicke(a)">
          <p *ngIf="a.rendu; else nonsoumis">
            {{a.nom}}
            rendu : {{a.rendu}}.
          </p>
          <ng-template #nonsoumis>
            <p>
              {{a.nom}}, n'a pas été rendu à temps
              (date : {{a.dateDeRendu|date}})
            </p>
          </ng-template>
          <mat-divider></mat-divider>
        </mat-list-item>
      </a></nav>
  </mat-list>
</main>
<!-- 
<table mat-table [dataSource]="assignments" class="mat-elevation-z8 demo-table">
  !-- Position Column --
  <ng-container matColumnDef="demo-id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  !-- Name Column --
  <ng-container matColumnDef="demo-nom">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
  </ng-container>

  !-- Weight Column --
  <ng-container matColumnDef="demo-dateDeRendu">
    <th mat-header-cell *matHeaderCellDef> Date de Rendu </th>
    <td mat-cell *matCellDef="let element"> {{element.dateDeRendu | date}} </td>
  </ng-container>

  !-- Symbol Column --
  <ng-container matColumnDef="demo-rendu">
    <th mat-header-cell *matHeaderCellDef> Rendu </th>
    <td mat-cell *matCellDef="let element"> {{element.rendu}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

-->