<main class="container">

  <div class="AjouterBtn">
    <a routerLink="/add">
      <button mat-flat-button color="accent">
        Ajouter Assignment
      </button>
    </a>
  </div>

  <h1>Liste des devoirs à rendre (assignments) :</h1>
  <p>Nombre total d'assignments : {{totalDocs}}</p>
  <p>Nombre total de pages : {{totalPages}}</p>
  <p>assignments par page : <input type="range" min=1 max=100 value=10 (change)="getAssignments()" [(ngModel)]="limit"> {{limit}}</p>
  <div class="paginationBtn">
    <button mat-raised-button color="primary" (click)="premierePage()" [disabled]="page===1">Prémière</button>&nbsp;
    <button mat-raised-button color="primary" (click)="pagePrecedente()"[disabled]=!hasPrevPage>Précédente</button>&nbsp;
    <button mat-raised-button color="primary" (click)="pageSuivante()" [disabled]=!hasNextPage>Suivante</button>&nbsp;
    <button mat-raised-button color="primary" (click)="dernierePage()" [disabled]="page===totalPages">Dernière</button>
</div>

  <mat-list *ngFor="let a of assignments">
    <nav><a routerLink="/assignment/{{a.id}}">
        <h3 mat-subheader>{{a.dateDeRendu|date}}</h3>
        <mat-list-item (click)="onAssignmentClicke(a)">
          <p *ngIf="a.rendu; else nonsoumis">
            {{a.nom}}
            rendu : {{a.rendu}}.
          </p>
          <ng-template #nonsoumis>
            <p>
              {{a.nom}}, n'a pas été rendu à temps
              (date : {{a.dateDeRendu|date}})
            </p>
          </ng-template>
          <mat-divider></mat-divider>
        </mat-list-item>
      </a></nav>
  </mat-list>
</main>
