mat-sidenave-container{
    height: calc(205vh - 11vh);
}
mat-sidenav{
    width: 200px;
    background-color: #eee;
}
.login{
    position:relative;
    left: 50%;
}
.disconnect{
    position:relative;
    left: 70%;
}